.foto{
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid black;
    margin-top: 20px;
    text-align: center;
    line-height: auto;
    color: white;
    border-radius: 10px;
}

.caja{
    width: auto;
    height: 30px;
    background-color:rgb(166, 255, 228);
    margin-top: 200px;
    text-align: center;
    font-size: medium;
    margin-top: 100px;
    line-height: auto;
    color: black;
    
}

.caja2{
    width: auto;
    height: 60px;
    background-color:rgb(223, 223, 223);
    text-align: center;
    line-height: auto;
    color: black;
    
}

.caja3{
    width: auto;
    height: 5px;
    background-color:rgb(166, 255, 228);
    text-align: center;
    line-height: auto;
    color: black;
    
}

.caja4{
    width: auto;
    height: 200px;
    background-color:rgb(223, 223, 223);
    text-align: center;
    line-height: auto;
    color: black;
    
}

.caja5{
    width: auto;
    height: 10px;
    background-color:rgb(166, 255, 228);
    text-align: center;
    line-height: auto;
    color: black;
    
}

.text1{
    text-align: left;
    margin-left: 10px;
    padding-top: 2px;
}
.text2{
    margin-top: -40px;
    text-align: center;
    margin-left: 10px;
}
.text3{
    margin-top: -40px;
    text-align: right;
    margin-right: 10px;
}
.text4{
    margin-top: -40px;
    text-align: center;
    margin-left: 600px;
}

