body{
    background-color: beige;
}

h1.titulo{
    color: skyblue;
    font-size: 30xp;
    font-style: italic; 

}

p.text{
    color: blue;
    font-size: 15px;
    text-align: justify;
}

span.destacado{

    font-weight: bold;
}
